/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
body {
  background-color: #2d2424;
  color: #bcb7a5;
  font-family: lucida;
  text-align: center;
  text-shadow: 1px 1px 1px black;  }
  
td {
  text-align: justify;
  vertical-align: middle;
  text-shadow: 1px 1px 1px black;  }


h4	{margin-top:2em;}
  
a:link {  color: #c87972;}
a:visited {  color:  #9fd681;}
a:hover {  color:  #ffffff;}
a:active {  color:  #ff0000;}
